@import 'shared/structure';

nav.index {
	margin: 4rem 2rem 0 35%;
}

nav.index > ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav.index > ul > li.hidden {
	display: none;
}

nav.index h2 {
	color: #e65648;
}

#spirit-container {
	width: 30%;
	position: fixed;
	top: 4rem;
	left: 2rem;
}

#spirit {
	height: 0.2rem;
	background-color: #9bcb90;
}

#spirit-label {
	margin: 1em 0 0 0;
}

@media (max-width: 980px) {
	nav.index {
		margin-left: 2rem;
	}

	#spirit-container {
		display: none;
	}
}

@media (max-width: 600px) {
	nav.index {
		margin-top: 6rem;
	}
}
