@import 'shared/structure';

article.initiative {
	margin: 4rem 2rem 0 35%;
}

article.initiative h1 {
	color: #e65648;
}

article.initiative p.status {
	text-transform: uppercase;
	color: #5ab251;
	font-weight: bold;
}

article.initiative .proponent,
article.initiative .year {
	border-bottom: 1px solid #badab0;
}
