@import 'compass/css3/box-sizing';

@import url('http://fonts.googleapis.com/css?family=Oswald:400,700');
@import url('http://fonts.googleapis.com/css?family=Shadows+Into+Light');
@import url('http://fonts.googleapis.com/css?family=Pontano+Sans');

body {
	margin: 2.6rem 0 0 0;
	padding: 0;
	font-family: 'Pontano Sans', sans-serif;

	/** http://lea.verou.me/css3patterns/#lined-paper **/
	background-color: #fff; 
	background-image: 
	linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
	linear-gradient(#f9f9f9 .1em, transparent .1em);
	background-size: 100% 1.2em;
}

a {
	color: inherit;
	text-decoration: none;
}

article h1,
h2 {
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
}

header.app {
	height: 2.6rem;
	line-height: 2.6rem;
	background-color: #18a0d6;
	padding: 0 2rem;
	position: fixed;
	width: 100%;
	top: 0;
	color: white;
	@include box-sizing(border-box);
}

header.app > * {
	display: inline-block;
}

header.app > h1 {
	margin: 0;
	font-size: 2.2rem;
	font-family: 'Shadows Into Light', cursive;
	
}

header.app > p {
	vertical-align: top;
}

header.app p {
	margin: 0;
}

header.app .logo {
	height: 1.4rem;
	margin-left: 0.4rem;
	vertical-align: middle;
}

header.app .search {
	vertical-align: top;
	position: absolute;
	left: 35%;
}

header.app .search .total {
	display: inline-block;
}
